<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.login">
    <!-- 拍照 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 读写 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.PERMISSIONS_STORAGE" /> <!-- 网络许可 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@drawable/app_icon"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".community.Add_activityActivity"
            android:exported="false" />
        <activity
            android:name=".institution.Institution_erollActivity"
            android:exported="false" />
        <activity
            android:name=".institution.Institution_forgetActivity"
            android:exported="false" />
        <activity
            android:name=".institution.Institution_loginActivity"
            android:exported="false" />
        <activity
            android:name=".community.Community_erollActivity"
            android:exported="false" />
        <activity
            android:name=".community.Community_forgetActivity"
            android:exported="false" />
        <activity
            android:name=".community.Community_loginActivity"
            android:exported="false" /> <!-- //社区活动 -->
        <activity android:name=".community.CommunitylistActivity" />
        <activity android:name=".community.CommunityaddActivity" /> <!-- //工作者活动 -->
        <activity
            android:name=".worker.WorkerOrder"
            android:exported="false" />
        <activity
            android:name=".worker.WorkmaininterfaceAcitvity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".worker.workwalletActivity" /> <!-- //机构活动 -->
        <activity android:name=".worker.WorkerLogin"/>
        <activity android:name=".worker.WorkerEnroll"/>
        <activity android:name=".worker.WorkerForgetPassword"/>
        <activity android:name=".worker.WorkpersonalActivity"/>
        <activity android:name=".institution.Institution_chooseActivity" />
        <activity android:name=".institution.Institution_addActivity" />
        <activity android:name=".institution.Institution_listActivity" />
        <!-- //用户活动 -->
        <activity
            android:name=".user.UserOrder"
            android:exported="false" />
        <activity android:name=".user.InfoResourceActivity" />
        <activity android:name=".user.CommunityActivityActivity" />
        <activity
            android:name="com.qweather.plugin.view.SdkWebViewActivity"
            tools:ignore="Instantiatable" />
        <activity android:name=".user.TaskRelease" />
        <activity android:name=".user.SkimUserInfo" />
        <activity android:name=".user.UserWallet" />
        <activity
            android:name=".user.UserMainInterfaceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".user.ModifyUserlInfo" />
        <activity android:name=".user.HealthInfoActivity" />
        <activity
            android:name=".user.SkimInstitution"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.user.TitlePage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- //主要活动 -->
        <activity android:name=".IdentiChooseActivity" />
        <activity android:name=".user.EnrollActicity" />
        <activity android:name=".user.UserLoginActivity" />
        <activity android:name=".user.ForgetPasswordActivity"/>
        <activity android:name=".CameraActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.cameratest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>